.footer{
    background-color: #BA8E7A;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border-top: 1px solid black;
    bottom: 0px;
    position: absolute;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}