<section class="catalogo">
    <header class="barradetarefas">
        <h2>Catalogo</h2>
        <div class="acoes-header">
            <button class="btn sopromo" [class.ativo]="apenaspromo()" (click)="alternarPromo()">
                @if (apenaspromo()) {
                    Mostrar todos
                } @else {
                    Somente promoções
                }
            </button>

            <button type="button" class="btn_primary" (click)="onCreateProduct('/produtos/novo')">
                + Novo Produto
            </button>
        </div>
    </header>
    @if (loading()) {
        <p>Carregando produtos...</p>
    } @else if (prodExibidos().length === 0) {
        <p class="vazio">Nenhum produto encontrado para o filtro atual</p>   
    } @else { 
        <div class="grid">
            @for (p of prodExibidos(); track p.id) {
                <app-card-produto
                    [produto]="p"
                    (add)="onAddProduto($event)"
                    (view)="onViewProduct($event)">
                </app-card-produto>
            }
        </div>
    }
</section>