:root{
    --primary-color: #D7A184;
    --secondary-color: #D4C2AD;
    --tertiary-color: #66796B;
    --main-width: 100%;
    --main-height: 100%;
}
.container{
    margin: 20px auto;
    font-family: Arial, G+Arial, Helvetica, sans-serif;
    text-align: center;
    color: #66796B;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
    margin: 0; 
}

main {
  flex: 1; /* Faz com que o conteúdo principal ocupe todo o espaço disponível */
}