.header{
    background: #D4C2AD;
    background: linear-gradient(
        90deg, 
        rgba(212, 194, 173, 1) 0%, 
        rgba(186, 142, 122, 1) 34%, 
        rgba(186, 142, 122, 1) 79%,
        rgba(212, 194, 173, 1) 100%
    );
    color: white;
    padding: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid black;
}

.header nav a{
    color: white;
    margin: 0px;
    text-decoration: none;
}

.header img{
    height: 100px;
    float: left;
    position: absolute;
    left: 0;
    padding-left: 10px;
}

.header h1{
    font-size: 35px;
    font-family: "Caveat", cursive;
}